.home_container {
  padding: 0.25rem 1rem;
}

.slogan {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.task {
  width: 300px;
  margin: 1rem;
}

.task_top {
  min-height: 120px;
  display: flex;
  border: 1px solid #212529;
  border-radius: 7px 7px 0 0;
  padding: 10px;
}

.task_bottom {
  min-height: 10px;
  background-color: #212529;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.task_description {
  width: 210px;
  font-size: 1.125rem;
  margin-right: 10px;
}

.user {
  margin: 0;
  text-align: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 1rem;
}

.task_button {
  width: 130px;
  height: 40px;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #212529;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.task_button:hover {
  color: #0d6efe;
}
